<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="about-info">
                <p class="info-box">{{ message }}</p>
                <p class="info-box">{{ credit }}</p>
                <p class="info-box">{{ gitHub }} <a class="link" href="https://github.com/jpat94/node-weather-website/issues">repository!</a></p>
                <p class="info-box">
                    Check out what the original class project looked like <a class="link" href="/old-index">here</a>.
                </p>
            </div>
        </div>
        {{>footer}}
    </body>
</html>